.nav{
    padding: 10px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.nav a{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 600;
    text-decoration: none;
    padding: 11px 21px;
}